<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="logDirectory" value="log/"/>
  <variable name="file-layout" value="${longdate}
${assembly-version}
${processid:padding=6}+${threadid:padding=-2}
${level:padding=-5}
${pad:padding=25:fixedLength=True:inner=${logger}:alignmentOnTruncation=right}
 - ${message}
${onexception:${newline}${exception:format=tostring:flattenexception=false}}"/>
  
  
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${logDirectory}/${machinename}.${processname}.${shortdate}.log"
            footer="${longdate} ${processname} closed${newline}"
            layout="${file-layout}"/>
    <target name="logconsole" xsi:type="Console"
            layout="${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Warning" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>